body {
  text-align: center;
}

.header-h1 {
  font-weight: bold;
  color: teal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: steelblue;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#pagination button:hover {
  background-color: rgb(87, 155, 211);
  color: #fff;
}

#pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f0f0f0;
}

#pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
